
#video {
    margin-top: 20px;
    width: 90%;
    height: 400px;
    text-align: center;
    font-style: initial;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#texto{
    float:left;
    text-align: center;
    width: 31%;
}
table{
    text-align: left;
}
video {
    height: 400px;
    float: right;
}


#ficha {
    width: 85%;
    font-size: large;
    margin-top: 20px;
}

#piloto1 {
    margin-top: 20px;
    height: 400px;
    text-align: center;
}

#piloto1>img {
    width: 400px;
    float: left;
}

#piloto2 {
    height: 400px;
    text-align: center;
}

#piloto2>img {
    height: 400px;
    float: left;
}